<ion-header>
  <ion-navbar color ="primary">
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col width-100>
        <ion-list>
          <ion-item>
            <strong>App Name: </strong> News and Weather App
          </ion-item>
          <ion-item>
            <strong>Version: </strong> 1.0.0
          </ion-item>
          <ion-item>
            <strong>Description: </strong> Simple news andweather app
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>