<ion-header>
  <ion-navbar color = "primary">
    <ion-title>
      My News App
    </ion-title>
    <ion-buttons end> 
      <button ion-button icon-only (click)="openSettings()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons start> 
      <button ion-button icon-only (click)="openAbout()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons >
    <ion-buttons start> 
      <button ion-button icon-only (click)="openContact()">
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>Welcome {{ myName }}</h1>


  <button ion-button round icon-left (click) = "openNews()">
    <ion-icon name="globe"></ion-icon>
    News
  </button>

  <button ion-button round icon-left (click) = "openWeather()">
    <ion-icon name="cloud"></ion-icon>
    Weather
  </button>

  <h1> {{ quote }}</h1>
  <h4> {{ author }} </h4>

</ion-content>