<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "primary">
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>
<h1> {{ newsSource }} </h1>
<ion-content padding>
  <section>
    <form class="list" [formGroup]="settingsForm" (ngSubmit)="submit()">
    <ion-item-group>


    <ion-item>

        <ion-label color="primary" stacked>Enter Name</ion-label>
      
        <ion-input type="text" name="username" formControlName="username" [(ngModel)] = "newName" placeholder="Name"></ion-input>
      
        </ion-item>
    

  <h2>News Sources</h2>

      <ion-list radio-group [(ngModel)]="newNews" formControlName="newsSource">
        <ion-list-header>Source</ion-list-header>
    <ion-item>
      <ion-label>Reuters</ion-label>
      <ion-radio value = "https://newsapi.org/v2/top-headlines?sources=reuters&apiKey=e4202413a53f4343a33fcb5bf80f3c8c"></ion-radio>
      </ion-item>
    <ion-item>
      <ion-label>National Geographic</ion-label>
      <ion-radio value = "https://newsapi.org/v2/top-headlines?sources=national-geographic&apiKey=e4202413a53f4343a33fcb5bf80f3c8c"></ion-radio>
      </ion-item>
    <ion-item>
      <ion-label>BBC Sports</ion-label>
      <ion-radio value = "https://newsapi.org/v2/top-headlines?sources=bbc-sport&apiKey=e4202413a53f4343a33fcb5bf80f3c8c"></ion-radio>
      </ion-item>
  </ion-list> 
  

<h2>Font Size</h2>

<ion-list radio-group [(ngModel)]="newTitle" formControlName ="titleFont">
    <ion-list-header>Title</ion-list-header>
    <ion-item>
      <ion-label>1</ion-label>
      <ion-radio value="10px" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>2</ion-label>
      <ion-radio value="15px"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>3</ion-label>
      <ion-radio value="20px" ></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>4</ion-label>
        <ion-radio value="25px"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>5</ion-label>
        <ion-radio value="30px" ></ion-radio>
      </ion-item>
  </ion-list>

  <ion-list radio-group [(ngModel)]="newDescription" formControlName="descriptionFont">
      <ion-list-header>Description</ion-list-header>
      <ion-item>
        <ion-label>1</ion-label>
        <ion-radio value="10px" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>2</ion-label>
        <ion-radio value="15px"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>3</ion-label>
        <ion-radio value="20px" ></ion-radio>
      </ion-item>
      <ion-item>
          <ion-label>4</ion-label>
          <ion-radio value="25px"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>5</ion-label>
          <ion-radio value="30px" ></ion-radio>
        </ion-item>
    </ion-list>

   <ion-item>
              <ion-label fixed>
                City
              </ion-label>
              <ion-input [(ngModel)]="city" name="city" type="text" formControlName ="weatherCity"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label fixed>
                State
              </ion-label>
              <ion-input [(ngModel)]="state" name="state" type="text" formControlName ="weatherState"></ion-input>
</ion-item> 
      </ion-item-group>
    </form>
   </section>
    <button (click)="submit()" ion-button type="submit"> Save </button> 
  
</ion-content>

  