<!--
  Generated template for the WeatherPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color ="light">
    <ion-title >Weather</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class = "weather">
	<ion-grid *ngIf="weather">
		<ion-row>
			<ion-col width-50 offset-25>
				<h2 class="location">{{weather.location.name}}</h2>
				<div class="icon"><img src="{{weather.current.condition.icon}}" alt=""></div>
				<h3 class ="desc">{{weather.current.condition.text}}</h3>
				<h1 class="temp">{{weather.current.feelslike_c}}&deg;</h1>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col width=100>
				<ion-list>
					<ion-item>
						<strong>Temp: </strong> {{weather.current.feelslike_c}}
					</ion-item>
					<ion-item>
						<strong>Relative Humidity: </strong> {{weather.current.humidity}}
					</ion-item>
					<ion-item>
						<strong>Wind: </strong> {{weather.current.wind_kph}}
					</ion-item>
					<ion-item>
						<strong>Visibility: </strong> {{weather.current.vis_km}}
					</ion-item>
					<ion-item>
						<strong>Precipitation: </strong> {{weather.current.precip_mm}}
					</ion-item>
				</ion-list>
			</ion-col>
		</ion-row>
	</ion-grid>

</ion-content>
