.weather{
	background:color($colors,primary);
	color:color($colors, light);
	margin-top:30px;

}
.temp{
	font-size:90px;
	text-align:center;
	font-weight:normal;
}

.location, .icon,.desc{
	text-align:center;
}

.icon img{
	width:100px;
}

.location{
	font-size:40px;
}

.desc{
	font-size:30px;
}
