<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<body>
<ion-header>

  <ion-navbar color = "primary">
    <ion-title>News</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list inset>
      <ion-item *ngFor="let new of news;" >
          <a href="{{new.url}}" onclick="window.open(this.href, '_system', 'location=yes'); return false;">
             <img width="80" height="80" src = "{{new.urlToImage}}" >
             <h2 id="header"class="noWhiteSpace" [style.font-size] ="this.myTitle"> {{new.title}}</h2>
              <p id="paragraph" class="noWhiteSpace" [style.font-size] ="this.myDescription">{{ new.description }}</p></a> 
      </ion-item>
    </ion-list>
  </ion-content>
</body>

